body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.75;
  margin: 0;
  background: black;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

h1 {
  font-size: 4em;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.03em;
}

h2 {
  line-height: 1.4;
  margin-top: 1.5em;
}

.view a {
  color: #ff5252;
  text-decoration: none;
}

.view a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3.5em;
  }
}

@keyframes nav {
  from { opacity: 0; transform: translate3d(0, -25px, 0) }
  to { opacity: 1; transform: translate3d(0, 0, 0) }
}

nav {
  animation: nav 0.2s ease-in-out forwards;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 15%;
  width: 70%;
  position: fixed;
}

.education {
  color: white;
  font-weight: 700;
  font-style: italic;
  display: flex;
  flex-direction: column;
  width: 51%;
  margin-left: 24.5%;
  position: absolute;
}

.logo {
  width: 60px
}

.rutgers {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin-top: 40px
}

.flatiron {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin-top: 40px
}

.slider {
	overflow-y: hidden;
	max-height: 500px;

	transition-property: all;
	transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: ease-in-out;
}

.slider.closed {
	max-height: 0;
}

@media screen and (max-width: 768px) {
  nav {
    padding: 1em;
  }
}

nav a {
  color: white;
  font-weight: 700;
  margin: 0 2em;
  letter-spacing: 0.08em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  nav a {
    margin: 0 1em;
  }
}

@keyframes navdot {
  from { opacity: 0; }
  to { opacity: 1; }
}

nav a:before {
  border-radius: 50%;
  content: '';
  background-color: #ff5252;
  left: 0;
  height: 10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-200%, -50%);
  width: 10px;
}

@media screen and (max-width: 768px) {
  nav a:before {
    bottom: 150%;
    top: auto;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

nav a.active:before {
  animation: navdot 0.25s ease-in-out forwards 0.25s;
}

.app {
  padding: 2em;
  text-align: center;
  height: 82vh;
}

@media screen and (max-width: 768px) {
  .app {
    padding: 3em 2em 2em;
  }
}

.with--accent {
  color: #ff5252;
  font-weight: 400;
}

.content {
  border-radius: 4px;
  background-color: white;
  color: #101010;
  max-width: 40em;
  margin: 0 auto;
  padding: 1em;
  text-align: left;
}

.content--inner {
  padding: 3em;
}

@media screen and (max-width: 768px) {
  .content--inner {
    padding: 1em;
  }
}

.content--excerpt {
  font-weight: 700;
  font-style: italic;
  margin: 0;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 60%;
  margin-left: 20%;
  color: white;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  color: white;
  margin-top:50px;
}

.leader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 51%;
  margin-left: 24.5%;
  color: white;
  font-weight: 700;
  font-style: italic;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  width: 80%;
  margin-left: 7%;
  color: white;
  height: 92vh;
  margin-top: 40px;
}

.project-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  position: relative;
  height: 500px;
  overflow: hidden;
}

.project-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  position: relative;
  height: 500px;
  overflow: hidden;
}

.project-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  position: relative;
  height: 500px;
  overflow: hidden;
}


.frogger-img {
  padding-top: 100px;
  width: 800px;
  position: absolute;
  z-index: -1;
}

.overlay-open {
  width: 100%;
  position: relative;
  height: 500px;
  background-color: black;
  opacity: 90%;
  transition-property: all;
	transition-duration: .5s;
  /* transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: ease-in-out; */
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overlay {
  max-height: 0;
}

.frogger-desc {
  padding-top: 100px;
  font-size: 30px;
  opacity: 100%;
  transition-property: all;
	transition-duration: 10s;
  /* transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: ease-in-out; */
  align-content: center;
  margin-top: 100px;
}

.frogger-desc-closed {
  display: none;
}

.frogger-code {
  opacity: 100%;
  transition-property: all;
	transition-duration: .5s;
  /* transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  transition-timing-function: ease-in-out; */
  align-content: center;
  text-decoration: none;
  color: white;
  font-size: 30px;
}

.frogger-code:hover{
  color: rgb(0, 168, 168);
}

.frogger-code-closed {
  display: none;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  width: 80%;
  margin-left: 7%;
  color: white;
  height: 82vh;
  margin-top: 60px;
}

.skills-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  height: 82vh;
  position: relative;
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 51%;
  margin-left: 24.5%;
  color: white;
}

.GCC {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin-top: 40px
}

.WRDRS {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin-top: 40px
}

.home-desc {
  width: 90%;
  margin-left: 3%
}

.title {
  margin: 0;
}

.hardware {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  outline: none;
  justify-content: center;
  width: 300px;
  height: 300px;
  align-items: center;
  background: rgba(0, 0, 1, 0.3);
  margin: 10px;
}

.software {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  outline: none;
  justify-content: center;
  width: 300px;
  height: 300px;
  align-items: center;
  background: rgba(0, 0, 1, 0.3);
  margin: 10px;
}

.hardware-icon {
  width: 100px;
}

.software-icon {
  width: 100px;
}

.skills-slider {
  width: 100%;
  
  height: 530px;
  text-align: center;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects-slider {
  width: 100%;
  
  height: 530px;
  text-align: center;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slides > div {
  scroll-snap-align: start;
}

.slides {
  display: flex;
  
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  
  border-radius: 15px;

  height: 440px;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 15px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slide > p {
  font-size: 50px;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  
  height: 300px;
  border-radius: 15px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.slide {
  height: 400px;
  position: relative;
}

.skill-items > p {
  font-size: 20px;
  margin: 0;
  width: 250px;
  text-align: left;
  padding-left: 100px;
}

.skill-items {
  display: flex;
  flex-direction: row;
  justify-content: center space-between;
  margin-top: 15px;
}

.page-one {
  width: 80%
}

.bar {
  margin: 0;
  width: 500px;
  text-align: center;
}

.progress1 {
  padding: 6px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.25);  
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar1 {
  height: 18px;
  border-radius: 5px;
  background-image: 
    linear-gradient(to bottom, rgb(142, 255, 255), rgb(0, 168, 168));
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-moved .progress-bar1 {
  width: 85%; 
  background-color: #EF476F;  
  animation: progressAnimation 3s;
}

.progress-bar2 {
  height: 18px;
  border-radius: 5px;
  background-image: 
    linear-gradient(to bottom, rgb(142, 255, 255), rgb(0, 168, 168));
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-moved .progress-bar2 {
  width: 85%; 
  background-color: #EF476F;  
  animation: progressAnimation 3s;
}

.progress-bar3 {
  height: 18px;
  border-radius: 5px;
  background-image: 
    linear-gradient(to bottom, rgb(142, 255, 255), rgb(0, 168, 168));
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-moved .progress-bar3 {
  width: 75%; 
  background-color: #EF476F;  
  animation: progressAnimation 3s;
}

.progress-bar4 {
  height: 18px;
  border-radius: 5px;
  background-image: 
    linear-gradient(to bottom, rgb(142, 255, 255), rgb(0, 168, 168));
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-moved .progress-bar4 {
  width: 70%; 
  background-color: #EF476F;  
  animation: progressAnimation 3s;
}

.progress-bar5 {
  height: 18px;
  border-radius: 5px;
  background-image: 
    linear-gradient(to bottom, rgb(152, 255, 255), rgb(0, 168, 168));
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-moved .progress-bar5 {
  width: 60%; 
  background-color: #EF476F;  
  animation: progressAnimation 3s;
}

.progress-bar6 {
  height: 18px;
  border-radius: 5px;
  background-image: 
    linear-gradient(to bottom, rgb(152, 255, 255), rgb(0, 168, 168));
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-moved .progress-bar6 {
  width: 50%; 
  background-color: #EF476F;  
  animation: progressAnimation 3s;
}

.progress-bar7 {
  height: 18px;
  border-radius: 5px;
  background-image: 
    linear-gradient(to bottom, rgb(152, 255, 255), rgb(0, 168, 168));
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-moved .progress-bar7 {
  width: 60%; 
  background-color: #EF476F;  
  animation: progressAnimation 3s;
}

.progress-bar8 {
  height: 18px;
  border-radius: 5px;
  background-image: 
    linear-gradient(to bottom, rgb(152, 255, 255), rgb(0, 168, 168));
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-moved .progress-bar8 {
  width: 80%; 
  background-color: #EF476F;  
  animation: progressAnimation 3s;
}

.progress-bar9 {
  height: 18px;
  border-radius: 5px;
  background-image: 
    linear-gradient(to bottom, rgb(152, 255, 255), rgb(0, 168, 168));
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-moved .progress-bar9 {
  width: 0%; 
  background-color: #EF476F;  
  animation: progressAnimation 3s;
}

@keyframes progressAnimation {
  0%   { width: 5%; background-color: #F9BCCA;}
  /* 100% { width: 100%; background-color: #EF476F; } */
}

html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 30s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgba(37,37,37,1) 50%, rgba(0,87,72,1) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:20s;
}

.bg3 {
  animation-duration:25s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.contact-details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  margin-left: 5%;
}

.profile-pic {
  width: 240px;
  height: 240px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 0;
}

.pic {
  display: inline;
  margin: 0 auto;
}

.desc-text {
  display: flex;
  flex-direction: column;
  width: 700px;
  text-align: left;
  margin: 0;
}

.about-me {
  display: flex;
  flex-direction: column;
}

.underline {
  width: 100%;
  height: 1px;
  background-color: white;
}

.download-btn {
  border: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.5s;
  width: 200px;
  height: 30px;
}

.download-btn:hover {
  background-color: rgb(0, 168, 168);
}

.resume-link {
  text-decoration: none;
  font-size: 15px;
  color: rgb(37,37,37,1);
}
